name: Pull request checks
on:
  pull_request:
    branches:
      - 'main'
jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up java
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Assemble
        run: ./gradlew assemble

      - name: Test
        run: ./gradlew test
